{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "never"],
    "no-unexpected-multiline": 2,
    "spaced-comment": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-array-index-key": 0
  },
  "env": {
    "jest": true,
    "browser": true
  },
  "plugins": [
    "flowtype"
  ]
}